.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-height);
	background-color: white;
	font-size: 1.4rem;
}
